:root.light{
    --main-bg: white;
    --main-col: black;
    --op-bg: black;
    --op-col: white;
}
:root.dark{
    --main-bg: black;
    --main-col: white;
    --op-bg: white;
    --op-col: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
body{
    background-color: var(--main-bg);
    color: var(--main-col);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    height: 60px;
    width: 100%;
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    font-size: 18px;
}
#theme-btn{
    display: flex; 
    align-items: center;
    gap: 4px;
}
#theme-btn > div{
    height: 18px;
    width: 18px;
    border: 1px solid var(--main-col);
    border-radius: 50%;
}
#theme-btn:hover{
    cursor: pointer;
}

section{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 0;
    transition: top 1s ease-in;
}
#hello h1{
    cursor: default;
    font-size: 6rem;
    transition: all 0.5s ease-in;
}
#hello h1:hover{
    color: green;
    font-size: 8rem;
    transform: translateZ(10px);
}
#hello h2{
    font-size: 2rem;
}
#hello button{
    font-size: 1.5rem;
    height: 50px;
    width: 300px;
    transition: width 1s ease-in-out;       
}
#hello button:hover{
    cursor: pointer;
    width: 1000px;
    background-color: green;
    color: white;
}
#my-name:hover{
    cursor: pointer;
}

#hello{
    background-color: palevioletred;
    z-index: 10;
}
#quick-facts{
    background-color: palegoldenrod;
    z-index: 3;
}