:root.light{
    --main-bg: #ded4c3;
    --main-col: #34322e;
    --hover-col: #13335d;
    --op-bg: #34322e;
    --op-col: #ded4c3;
}
:root.dark{
    --main-bg: #34322e;
    --main-col: #ded4c3;
    --hover-col: green;
    --op-bg: #ded4c3;
    --op-col: #34322e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
body{
    background-color: var(--main-bg);
    color: var(--main-col);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    height: 60px;
    width: 100%;
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    font-size: 18px;
    z-index: 20;
}
#theme-btn{
    display: flex; 
    align-items: center;
    gap: 4px;
    
}
#theme-btn > div{
    height: 18px;
    width: 18px;
    border: 1px solid var(--main-col);
    border-radius: 50%;
    transition: background-color 0.1s;
}
#theme-btn:hover{
    cursor: pointer;
}

section{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 0;
    transition: top 1s ease-in;
    background-color: var(--main-bg);
    z-index: 1;
}

#hello{
    z-index: 10;
}
#hello h1{
    cursor: default;
    font-size: 6rem;
    animation: helloGreet 2s ease-in;
    transition: letter-spacing 1s ease;
}
#hello h2{
    font-size: 2rem;
}
#hello button{
    font-size: 1.5rem;
    height: 50px;
    width: 300px;
    transition: width 1s ease-in-out;       
}
#hello button:hover{
    cursor: pointer;
    width: 1000px;
    background-color: var(--hover-col);
    color: white;
}
#my-name:hover{
    cursor: pointer;
}

#facts{
    z-index: 9;
    padding: 0 20px;
}
#facts-inner{
    height: calc(100vh - 100px);
    width: 100%;
    margin-top: 70px;
    border: 4px double;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
#facts-inner h1{
    position: relative;
    margin-top: -46px;
    background-color: var(--main-bg);
    padding: 10px 20px;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 3px var(--main-col);
    letter-spacing: 3px;
    word-spacing: 10px;
}
#facts-pins{
    width: 100%;
    padding: 0 30px;
    display: flex; 
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.pin-group{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#my-pic-pin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#my-pic{
    height: 250px;
    width: 300px;
    background-color: #427177;
}
#my-pic-txt{
    width: 100%;
    height: 120px;
    padding: 20px 20px 40px;
    background-color: #eeeae3;
}

.pin img{
    width: 200px;
}

.tape-title{
    height: 40px;
    min-width: 150px;
    display: flex;
    padding: 0 40px 5px 0;
    background-color: #dab29b;
    position: relative;
}
.tape-title p{
    padding: 3px;
    background-color: #d7c8ae;
    border: 1px solid #b1a48e;
}
.tape-title:first-of-type{
    align-items: end;
    top: 20px;
}
.tape-title:first-of-type p{
    margin-left: -20px;
}
/*Animations*/
@keyframes helloGreet {
    0%{
        color: var(--main-col);
        font-size: 6rem;
        transform: none;
    }
    50%{
        color: var(--hover-col);
        font-size: 12rem;
        transform: translateZ(10px);
    }
    100%{
        color: var(--main-col);
        font-size: 6rem;
        transform: none;
    }
}